<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="\assets\img\ImgLogin\logo_duoc.png" alt="">
      </div>
      <div></div>
    </div>

    <h1 style="font-weight: bold; color: #0a123a;"> Bienvenido a REGISTRAPP </h1>
    <p style="font-weight: bold; color: #0a123a;"> Elige una opción:</p>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-button color="warning" expand="block" style="font-weight: bold; color: rgb(6, 3, 54);" routerLink="/login">Iniciar Sesión</ion-button>
        <ion-button color="warning" expand="block" style="font-weight: bold; color: rgb(6, 3, 54);" routerLink="/register">Registrarse</ion-button>
        <ion-button class="ion-text-wrap"color="warning" expand="block" style="font-weight: bold; color: rgb(6, 3, 54);" routerLink="/forpass">Recuperar Contraseña</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
